*{
  box-sizing: border-box;
  margin: 0;

  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  font-size: 30px;
  padding: 5px;
  background-color:rgb(188, 188, 188);
  display: flex;
  justify-content:space-between;
  width: 100%;
}

.perf{
  text-align: center;
}

.quickdata{
  text-align: center;
  width: 100%;
}

.per{
  font-size: 20px;
  display: inline-flex;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  align-items: center;
  justify-content: center;
}

.perf{
  width: 100%;
}

.main{
  display: flex;
  flex-direction: column;
}

.record{
  width: 100%;
}
.secI{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.submitError{
  color:red;
  font-size: 13px;
  font-style: italic;
  text-decoration: underline;
}

.record{
  overflow: scroll;
}

.loader {
  border: 7px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loadscreen{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}