*{
  box-sizing: border-box;
  margin: 0;

  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  font-size: 30px;
  padding: 7px;
  background-color:#c5401f;
  display: flex;
  justify-content:space-between;
  width: 100%;
  box-shadow: 0 3px 7px gray;
  position: sticky;
  position: -webkit-sticky;
  color: white;
}
.header i{
  font-size: 25px;
  align-self: center;
  cursor: pointer;
  border-radius:50%;
  padding:5px;
}
.header i:nth-child(3){
  float: right;
}
.header i:nth-child(3):active{
  color: rgb(30, 5, 255);
}

.perf{
  text-align: center;
}

.quickdata{
  text-align: center;
  width: 100%;
}

.per{
  font-size: 20px;
  display: inline-flex;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  align-items: center;
  justify-content: center;
}

.perf{
  width: 100%;
}

.main{
  display: flex;
  flex-direction: column;
}

.record{
  position: relative;
  width: 95%;
  height: 500px;
  margin: auto;
  box-shadow: 1px 1px 5px rgb(176, 176, 176);
  font-size: 15px;
  overflow-x: scroll;
}
.record table{
  white-space: nowrap;
  /* position: relative;
  right: 0;
  transition: right 0.5s; */
}
.record table thead{
  font-size: 13px;
  background-color: rgb(249, 249, 249);
}
.record table thead tr th{
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
}
.record table tbody tr td{
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 20px;
}


/* .secI{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
} */
.submitError{
  color:red;
  font-size: 13px;
  font-style: italic;
  text-decoration: underline;
}

.loader {
  border: 7px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loadscreen{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  overflow: hidden;
  background-color: rgb(72, 72, 72);
  width: 40%;
  height: 15%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: box 400ms ease-in-out;
  -webkit-animation: box 400ms ease-in-out;
}

.rel-appear{
  opacity: 0;
  z-index: 1;
}
.rel-appear.rel-appear-active{
  opacity: 1;
  transition: opacity 300ms linear;
}

.load-ani-appear{
  opacity: 0;
}
.load-ani-appear.load-ani-appear-active{
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}

@keyframes box {
  from {
    transform: scale(0)
  }

  80% {
    transform: scale(1.2)
  }

  to {
    transform: scale(1)
  }
}

@-webkit-keyframes box {
  from {
    -webkit-transform: scale(0)
  }

  80% {
    -webkit-transform: scale(1.2)
  }

  to {
    -webkit-transform: scale(1)
  }
}

.react-datepicker__day--highlighted-custom-1{
  background-color: rgb(89, 210, 89);
  border-radius: 50%;
  font-size: larger;
}
.react-datepicker__day--highlighted-custom-2{
  background-color: rgb(244, 42, 42);
  border-radius: 50%;
  color: black;
  font-size: larger;
}
.dat{
  background-color: rgb(224, 224, 224);
  border: none;
  border-radius: 10px;
  padding: 10px 0 10px 0;
  text-align: center;
  font-size: small;
  padding: 10px 5px 10px 5px;
}
.cal-sub{
  background-color: rgb(204, 204, 204);
  text-align: center;
  padding: 5px 0 5px 0;
  color: #535353;
}
.lastupdated{
  border: 1px solid black;
  font-size: 8px;
  margin-left: 5px;
  padding:2px;
  color: darkgreen;
  border-radius: 3px;
}
.sub{
  background-color: #c3c3c3;
  text-align: center;
  padding:5px 0 5px 0;
}
.cut{
  float: right;
  margin-right: 10px;
  font-size: 20px;
}
.c12{
  text-decoration: underline;
  color: blue;
}
.degreen{
  color:darkgreen;
  font-weight: 700;
}
.dered{
  color:red;
  font-weight: 700;
}

.detailpanel-enter {
  position: absolute;
  width: 100%;
  left:100%;
}

.detailpanel-enter-active {
  position: absolute;
  left: 0%;
  transition: left 0.5s;
}

.detailpanel-exit {
  width: 100%;
  position: absolute;
  left: 0%;
}

.detailpanel-exit-active {
  position: absolute;
  left: 100%;
  transition: left 0.5s;
}

/* ------------ */

.tablepanel-enter {
  overflow: hidden;
  position: relative;
  right: 130%;
}

.tablepanel-enter-active {
  position: relative;
  right: 0%;
  transition: right 0.5s;
}

.tablepanel-exit {
  position: relative;
  right: 20%;
}

.tablepanel-exit-active {
  overflow: hidden;
  position: relative;
  right: 140%;
  transition: right 0.5s;
}
